.about{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
}

.title__about{
    color: rgb(221, 37, 181);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-top: 5em;
    text-transform:uppercase;
    padding-top: 1em;
}

.about__img{
    width: 250px;
    gap: 2.5em;
}

.about__txt{
    width: 700px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    word-spacing: 0.4em;
    line-height: 1.7rem;
    margin-top: 2.5em;
}
