.about{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2em;
    margin: 1em;

}

.title__about{
    color: var(--titles);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-top: 4em;
    text-transform:uppercase;
    padding-top: 2em;
   
}

.about__img{
    margin-top: 3em;
    width: 285px;
}

.about__txt{
    width: 650px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    word-spacing: 0.6em;
    line-height: 2rem;
    margin-bottom: 1.5em;
    color: var(--text);
    font-size: 13px;
}

@media (min-width: 767px){
    .about{
        display: flex;
        gap: 3.5em;
    }
    
    .about__txt{
        display: flex;
        margin-top: 2em;
        font-size: 15px;
    }
}