.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    font-size: 22px;

}

.title__banner{
    color: rgb(221, 37, 181);
}

.title__span{
    color: rgb(9, 189, 174);
}

.icons__banner{
    display: flex;
    justify-content: center;
    font-size: 40px;
    gap: 0.5em;
    margin-top: 0.5em;
    color:  rgb(77, 1, 177);

}

.bxl-github:hover{
    color: #ffffff;
    
}

.bxl-linkedin-square:hover{
    color: #ffffff;
}

.bxl-gmail:hover{
    color: #ffffff;
}

h3{
    color: rgb(131, 71, 170);
    font-size: 17px;
    padding-top: 3em;
}

.banner_img{
    padding-top: 3em;
    width: 350px;
}

@media (min-width: 767px){
    .banner{
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .icons__banner{
        display: flex;
        position: absolute;
        margin-bottom: 1em;
        padding-right: 12.5em;
    }

    .title__animation{
        display: flex;
        gap: 1.5em;
        position: absolute;
        margin-top: 1.5em;
        margin-right: 22em;
    }

    h3{
        font-size: 20px;
    }

    .title__banner{
        margin-bottom: 3em;
        display: flex;
        gap: 0.5em;
    }

    .banner_img{
        width: 400px;
    }
}