.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin-top: 3em;
}
.banner__2{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.title__banner{
    color: var(--titles);
    z-index: 999;
}

.title__span{
    color: var(--titles2);
    z-index: 999;
}

.icons__banner{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    gap: 1em;
    color: var(--buttons);
    z-index:999;
}


.bxl-github1:hover{
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 2s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    color: #ffffffde;
    cursor: pointer;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: scale(1);
    }
    25%,
    75% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1.1);
    }
  }

.bxl-linkedin-square:hover{
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 4s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    color: #ffffff;
    cursor: pointer;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: scale(1);
    }
    25%,
    75% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1.1);
    }
}

.bxl-gmail:hover{
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 4s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    color: #ffffff;
    cursor: pointer;
  }
@keyframes bounce {
    0%,
    100% {
      transform: scale(1);
    }
    25%,
    75% {
      transform: scale(1.3);
    }
    50% {
      transform: scale(1.1);
    }
}

.bx-file:hover{
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 4s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  cursor: pointer;
  color: #ffffffde;
}

h3{
    color: var(--text);
    animation: animator 5s infinite linear ;
}
@keyframes animator {
  0%,
  100% {
    color: rgb(253, 71, 223);
  }
  25%,
  75% {
    color: rgb(255, 255, 255);;
  }
  50% {
    color: rgb(79, 234, 245);
  }
}


.title__animation {
  margin-top: 10em;
  font-size: 22px;
  position: absolute;
  
}



@media (min-width: 767px){
    .banner{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 1em;
        justify-content: space-evenly;
    }
    .banner__2{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
    }

    .title__animation{
        position: absolute;
        margin-top: 8em;
    }

    h3{
        font-size: 35px;
    }

    .title__banner{
        display: flex;
        gap: 0.5em;
    }

    .banner__img{
      margin-top: 1em;
      margin-left: 2em;
      width: 380px;
      height: 100%;
    }
    }


 
   

