.title__cont{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    font-size: xx-large;
    color: rgb(9, 189, 174);
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.contact__form{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap:2em;
}

.input__name{
    height: 50px;
}

.input__email{
    height: 40px;
}

.input__msj{
    height: 100px;
}

.btn__submit{
    width:auto;
    font-weight: bold;
    padding: 1em;
    border-radius: 5em;
    background: rgb(74,226,214);
    background: radial-gradient(circle, rgb(74, 226, 218) 13%, rgb(208, 72, 241) 100%);
}

.btn__submit:hover{

    color: rgb(221, 37, 181);
}