.title__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5em;
    font-size: xx-large;
    color: rgb(9, 189, 174);
    letter-spacing: 0.2em;
}

.contact__form{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    gap:2em;
}

.input__name{
    height: 50px;
}

.input__email{
    height: 40px;
}

.input__msj{
    height: 100px;
}