

.navbar {
  margin-top: 1em;
  position: sticky;
  bottom: 0em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
}
.navbar__list {
  padding: 0.5em;
  border-radius: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.7em;
  font-size: 28px;
  backdrop-filter: blur(50px);
  background-color: rgba(241, 63, 218, 0.137);
}

.navbar__item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: color 0.3s;
}

.navbar__item:hover{
  color: #ffff;
}