
.navbar {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 999;
  margin-top: 1em;
}
.navbar__list {
  padding: 0.6em;
  border-radius: 0.8em; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-size: 28px;
  backdrop-filter: blur(50px);
  background-color: #a03ece27;
  color: var(--icons);
}

.navbar__item{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: color 0.3s;
}

.navbar__item:hover{
  color: #ffff;
}