.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.projects__title{
    margin-top: 3em;
    font-size: xx-large;
}

.projects__img{
    width: 300px;
}