.project__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project__title{
    color: var(--titles);
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform:uppercase;
    margin-top: 4em;
    margin-bottom: 1em;
    padding-top: 1em;
}
.project__principal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
    position: relative;
}

.project__img{
    width: 360px;
    height: 100%;
    object-fit: cover;
    cursor:zoom-in;
}

.project_subtitle{
  color: #ffff;
  font-size: 20px;
  letter-spacing: 0.2rem;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    visibility: hidden;
    z-index: 9999;
    animation: modalOpen 0.2s ease forwards;
  }

  @keyframes modalOpen {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  .modal.active {
    visibility: visible;
  }

.modal-content{
    display: flex;
    flex-direction: column;
    background-color: rgba(39, 38, 38, 0.411);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 100%;
    max-height: 90%;
    color: #ffff;
    gap: 2em;
    font-size: 16px;
    letter-spacing: 0.2rem;
  }
  .modal-description{
    margin-top: 1em;
    font-size: 13px;
    line-height: 1.6em;
    text-align: left;
    line-height: 2em;
  }

  .modal-icons a{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 0.5em;
    gap: 1.2em;
  }

  .modal-icons{
    display: flex;
  }

  .modal__p{
    font-size: 12px;
    text-align: center;
    justify-content: center;
    right: 28px;
    position: relative;
  }

  .modal__p:hover{
    color: var(--titles2);
  }

.close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 5px;
    right: 6px;
    cursor: pointer;
    font-size: 23px;
    color: var(--text);
    background-color: var(--close-btn);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    animation: button 3s infinite;
  }

  .modal-image {
    width: 100%;
    object-fit: cover;
  }

  @media (min-width: 767px){

    .modal-image {
        width: 100%;
        height: 400px;
      }

    .modal-content {
      display: flex;
      flex-direction: row;
      width: 1300px;
    }
    .project__img{
      width: 100%;
      height: 400px;
    }
    .project__tt{
      font-size: 25px;
      text-align: center;
    }
    .project-description{
      display: flex;
      flex-direction: column;
      gap: 2em;
      margin-top: 1em;
      font-size: 12px;
      text-align:left;
    }
    .modal__p{
      font-size: 15px;
      text-align: center;
      justify-content: center;
      right: 28px;
      position: relative;
    }
}

