.skills__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5em;
    margin-top: 4em;
    padding-top: 2.5em;
}

.skills__general{
    display: flex;
    flex-direction: row;
    gap: 1em;
}


.title__sk{
    color: var(--titles);
    letter-spacing: 0.2em;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.second__title{
    margin-top: 0.2em;
    font-size: 20px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2em;
}

.icon__html{
    font-family:'Orbitron', sans-serif;
}

.bx__html{
    display: flex;
    background-color: #D34C2D;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 32px;
    border-radius: 8px;
    font-size: 14px;
    color: #ffffff;
    
}

.bxl-html5{
    font-size: 22px;
    color:#ffffff;
}

.bx__css{
    display: flex;
    background-color: #2071F2;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    
}

.bxl-css3{
    font-size: 22px;
    color:#ffffff;
}

.bx__js{
    display: flex;
    background-color: #F2C200;
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    gap: 0.2em;
}

.bx__react{
    display: flex;
    background-color: #1297C3;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    color: #ffffff;
    gap: 0.2em;
}

.bxl-react{
    font-size: 22px;
    color:#ffffff;
}

.bx__redux{
    display: flex;
    color: #ffffff;
    background-color: #533386;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.2em;
}

.bxl-redux{
    font-size: 22px;
    color:#ffffff;
}
.bx__git{
    display: flex;
    color: #ffffff;
    background-color: #000000;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 32px;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.2em;
}

.github2{
    font-size: 22px;
    color:#ffffff;
}

.bx__pgAdm{
    display: flex;
    color: #ffffff;
    background-color: rgb(47,97,136);
    align-items: center;
    justify-content: center;
    width: 122px;
    height: 32px;
    border-radius: 10px;
    font-size: 13px;
    gap: 0.2em;
}
.bxl-postgresql{
    font-size: 22px;
    color:#ffffff;
}
.bx__node{
    display: flex;
    color: #ffffff;
    background-color: #80D041;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 32px;
    border-radius: 10px;
    font-size: 13px;
    gap: 0.2em;
}

.bxl-nodejs{
    font-size: 22px;
    color:#ffffff;
}