html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  background: rgb(238,174,202);
  background: rgb(235,159,255);
  background: linear-gradient(69deg, rgba(235,159,255,1) 0%, rgba(156,228,217,1) 100%);
}

li{
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.btn{


  box-shadow: opx 4.42184px 107.23 rgba(255, 86, 246, 0.51);
}



